* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #fff;
}

.section {
  width: 100%;
  height: 90vh;
  border: 1px solid white;
  display: flex;
  flex-flow: column;
}

.section-1 {
  background-color: #000;
}

.section .section-child {
  display: flex;
  margin: auto 0;
  flex-flow: col;
  height: fit-content;
  border: 1px solid red;
  justify-content: space-between;
  background-color: #000;
}

.section-1 .section-child {
  margin: auto 300px;
}

.section-3 .section-child {
  background-color: #fff;
}

.section-child .empty {
  width: 70px;
  background-color: #fff;
}

.img-cnt {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.section-child .section-3-left {
  border-radius: 0 50px 50px 0;
  border: 1px solid yellow;
  width: 100%;
  background-color: #000;
}

.section-child .section-3-right {
  border-radius: 50px 0 0 50px;
  border: 1px solid yellow;
  width: 100%;
  background-color: #000;
}

.section-child .section-1-left {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.section-child .section-1-right {
  font-size: 27px;
}

.section-1 div {
  border: 1px solid blue;
}

.section-3 .section-child {
  border: 1px solid blue;
  display: flex;
  flex-flow: row;
}

.scroll-next {
  height: 10vh;
  margin-bottom: 1px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
