* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #fff;
}

.section {
  width: 100%;
  height: 90vh;
  border-bottom: 1px solid white;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}

.section-1 {
  background-color: #000;
}

.section-child {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  gap: 150px;
  height: 250px;
}

.section-3 .section-child {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.section.section-3.section-child {
    height: 90vh;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.section-child .empty {
  width: 70px;
  background-color: #fff;
}

.img-cnt {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.img-cnt svg {
  height: 100px;
  width: 150px;
  margin-bottom: 50px;
}

.section-3 h2, h3 {
  font-weight: 100;
}

.section-child .section-3-left, .section-3-right {
  border-radius: 0 50px 50px 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.section-child .section-3-left .avail-cnt {
	display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.section-child .section-3-left .avail-cnt h3 {
    padding: 10px 0;
}

.section-child .section-3-right {
	 border-radius: 50px 0 0 50px;
}

.section-child .section-1-left {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.section-child .section-1-left svg {
	width: 200px;
	margin-bottom: auto;
}

.section-child .section-1-left h1 {
    font-size: 38px;
    font-weight: 100;
    width: 100%;
}

.section-child .section-1-left h3 {
    font-size: 22px;
    font-weight: 100;
    width: 100%;
}

.section-child .section-1-right {
  	font-size: 22px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
}

.section-child .section-1-right a {
	padding: 10px 15px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    width: fit-content;
}

.section-child .section-1-right a:hover {
	background-color: white;
	color: black;
	transition: .3s;
}

.scroll-next {
  height: 10vh;
  margin-bottom: 1px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
